<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="data:image/x-icon,;">
  <title>Início | MyGeli</title>
  <script src="https://cdn.jsdelivr.net/npm/gauge.js/dist/gauge.min.js"></script>
</head>
<body>

  <div class="loader-wrapper" id="loader-wrapper">
    <div class="loader-container">
      <p class="loader-text">Carregando</p>
      <div class="progress-bar-container">
        <div class="progress-bar" id="progress-bar"></div>
      </div>
      <p class="progress-percentage" id="progress-percentage">0%</p>
    </div>
  </div>

  <nav class="nav-drawer" aria-label="Menu de Navegação Principal">
    <h2 class="visually-hidden">Menu de Navegação</h2>
    <ul>
      <li><a href="#">Geral</a></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">Receitas</a></li>
      <li><a href="#">Estoque</a></li>
    </ul>
    <ul style="bottom: 20px;">
      <li><a href="">Sair</a></li>
    </ul>
  </nav>

  <main class="content" id="main-content">
    <h1>Visão Geral</h1>
    <p>Este é o seu conteúdo principal.</p>
  </main>

  <script src="script.js"></script>
</body>
</html>